$ocean: #004B87;
$sky: #48a9c5;
$slate: #53565a;
$fog: #b1b3b3;
$moss: #b7bf10; // Depreciated
$peridot: #dbe442;
$sunset: #ff6900;
$ocean_light: #a6c0d5;
$sky_light: #bfe1eb;
$slate_light: #c9cacb;
$fog_light: #e4e4e4;
$fog_extra_light: #f2f2f2;
$moss_light: #e6e9ac;
$peridot_light: #f2f6bd;
$sunset_light: #ffcba6;
// NEW FOR 2020
$wave: #003B5C;
$wave_dark: #07314f;
$current: #005A6F;
$spring: #BFCC80;