<?xml version="1.0" encoding="utf-8"?>
<twitterConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.1.8300.0">
	<twitterApplications>
		<twitterApplication consumerKey="[sf-scrt-rslvr=Encrypt]lE4PPY4iRYRzP1qpasC1MJc7SlpMjQLOl5c4lJK7UkR7oLjadb2Gi0VMUCb+/3KCjNN/v4I01OQnBE3O7U/iUUFlc1dpdGhIbWFjmxQVYiVAfGofXFziAKmBF5Y1gwsnTAiRGQ+E5DER85Q=" consumerSecret="[sf-scrt-rslvr=Encrypt]6PF8UDyLObHyyqH5nuHmSgOfZfjJqZq2A5mRzGD2Jb4DH7r738INyb/klEBOdPtE8iTMuf03FTbJqGr2wt+0azMWrR+QBjyF+k8eBWWRIRZM4VhioXoSWAVac1wiONBG8pFJ7GTZL8SKhxJrRzzkxUFlc1dpdGhIbWFji77W5z3hmwzuH4fE96FkTY2WR9cQv1FVrXvnM0XcSCQ=" name="Sitefinity" config:flags="1" />
	</twitterApplications>
</twitterConfig>